{% extends 'website/base.html' %}
{% load static %}

{% block title %}Prius Counter{% endblock %}

{% block content %}
<div class="counter-container">
    <h1 class="counter-title">Welcome to the Prius counting game.</h1>
    <img class="convertible-img" src="{%static 'website/img/convertible.png'%}">
    <h3>Did you know?</h3>
    <ul>
        <li>1 192 000 units of the gen 2 Prius were sold worldwide.</li>
        <li>There were 7 different colors available.</li>
    </ul>
    <p>How many can you spot on the road?</p>
    <br>
    <p>Choose the duration of the game:</p>
    <p>3 5 10</p>
    <br>
    <p>How many different colors did you manage to spot?</p>
</div>

{% endblock %}