{% extends 'website/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!--title-->
<section id="title">
    <div class="title_img_container">
        <img class="title-image" src="{% static 'website/img/title-img.jpg' %}">
        <div class="container-fluid top_left">
        <h1 style="font-size: 6vw;">Welcome to he Fanpage!</h1>
        <h2 class="title-subheading" style="font-size: 3vw;">Share the love for the Prius</h2>
        </div>
    </div>
</section>
<!--features-->
<section id="features">

        <h1 class="features-section-title">Why we love it?</h1>

        <div class="features-icons row container-fluid">
        <div class="col-lg-4">
             <img class="gas-pump-img" src="{% static 'website/img/gas_pump.jpg' %}">
             <h3 style="font-size: 3vw;" class="feature-title">Great gas mileage.</h3>
             <p>It's a hybrid that goes great with LPG.</p>
        </div>
        <div class="col-lg-4">
            <img class="wrench-img" src="{% static 'website/img/wrench.jpg' %}">
            <h3 style="font-size: 3vw;" class="feature-title">Super reliability.</h3>
            <p>Can go on for millions of kilometers. Ask any taxi driver.</p>
        </div>
        <div class="col-lg-4">
            <img class="jokes-img" src="{% static 'website/img/jokes.png' %}">
            <h3 style="font-size: 3vw;" class="feature-title">Plenty of jokes.</h3>
            <p><a href="{% url 'login' %}"> Log in</a> and visit the Notable Scenes page.</p>
        </div>
        </div>
</section>

<section id="timer">
<div class="timer-container">
       <h1 class="timer-heading">The <em>Prius</em>  is also fast! <br> This is how long it takes to reach 100kmh: <br></h1>
        <div id="time">
            <h3>
                <span class="timer-txt">Seconds</span>
                <span class="digit" id="sec">
              00</span>
                <span class="timer-txt"> : </span>
                <span class="digit" id="count">
              00</span>
            </h3>
        </div>
        <div id="buttons">
            <button class="btn btn-outline-danger" id="start">
              Start</button>
            <button class="btn btn-outline-danger" id="stop">
              Stop</button>
            <button class="btn btn-outline-danger" id="reset">
              Reset</button>
        </div>
    </div>

    <script src="{% static 'website/js/script.js' %}"></script>
</section>



{% endblock %}