{% extends 'website/base.html' %}
{% load static %}

{% block title %}Prius Jokes{% endblock %}

{% block content %}

<div class="jokes-container">
    <h1> Notable scenes of the Prius in television 📺</h1>
    <br>
    <div class="video-container">
    <h2> Are you also a fan of The Office?</h2>
    <iframe class="office-video" width="420" height="315" src="https://www.youtube.com/embed/HAIzFIOJA2c&ab_channel=TheOffice"></iframe>
    <br>
    </div>
    <div class="video-container">
      <h2> Family Guy</h2>
    <iframe class="familyguy-video" width="420" height="315" src="https://www.youtube.com/embed/emnjJxyi6bE&ab_channel=TheCriticalThinkerOutsideTheBox"></iframe>
    <br>
    </div>
    <div class="video-container">
      <h2> Top Gear</h2>
    <iframe class="topgear-video" width="420" height="315" src="https://www.youtube.com/embed/Id5Bamt1I8Q&ab_channel=Clarksonian"></iframe>
    <br>
    </div>

</div>




{% endblock %}
